/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: black;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column; /* Cambiamos el flujo del diseño a columna */
    align-items: center;
    margin-top: 50px;
}

.form-container {
    width: 30%; /* Ancho máximo del contenedor */
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 20px;
    text-align: center;
    color: black;
}

label {
    display: block;
    font-weight: bold;
    color: black;
    margin-bottom: 5px;
}

input[type="text"],
select {
    width: calc(100% - 20px); /* Restar el padding del ancho total */
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button[type="button"] {
    background-color: #00334E;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="button"]:hover {
    background-color: #145374;
}
