{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block sidebar %}
<aside class="barra-lateral">
    <div class="centrado-vertical">
        <img src="static/img/avatar.png" alt="Profile picture placeholder" class="imagen-redonda mb-2">
        <p class="texto-grande"><span>{{ nombre_usuario }}</span></p>
        <p class="texto-pequeno"><span>{{ cargo_usuario }}</span></p>
        <nav class="nav">
            <ul class="lista-navegacion">
                <li class="elemento-lista"><a href="/dashboard" class="enlace-navegacion">Dashboard</a></li>
                <li class="elemento-lista"><a href="/registro-horarios-usuarios" class="enlace-navegacion">Registro de ingreso</a></li>
                <li class="elemento-lista"><a href="/labores_usuarios" class="enlace-navegacion">Labores</a></li>
                <li class="elemento-lista"><a href="/mensajes" class="enlace-navegacion">Entregas</a></li>
                <li class="elemento-lista"><a href="/cambio_contraseña-usuarios" class="enlace-navegacion">Cambio de contraseña</a></li>
            </ul>
        </nav>
    </div>
</aside>
{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actualizar Contraseña</title>
    <link rel="stylesheet" href="/static/css/actualizarpassword.css">
</head>
<body>
<div class="container">
    <h1>Actualizar Contraseña</h1>
    <form id="passwordForm">
        <label for="password">Contraseña Anterior:</label>
        <input type="password" id="password" name="password" required><br>
        <label for="new_password">Nueva Contraseña:</label>
        <input type="password" id="new_password" name="new_password" required><br>
        <label for="confirm_password">Confirmar Nueva Contraseña:</label>
        <input type="password" id="confirm_password" name="confirm_password" required><br>
        <input type="submit" value="Actualizar Contraseña">
    </form>
</div>
    <script>
        document.getElementById("passwordForm").addEventListener("submit", function(event) {
            event.preventDefault(); // Evitar que el formulario se envíe automáticamente
            
            // Obtener los valores del formulario
            const password = document.getElementById("password").value;
            const newPassword = document.getElementById("new_password").value;
            const confirmPassword = document.getElementById("confirm_password").value;

            // Verificar que las contraseñas coincidan
            if (newPassword !== confirmPassword) {
                alert("Las contraseñas no coinciden. Por favor, vuelva a intentarlo.");
                return;
            }

            // Enviar los datos al servidor
            fetch("/user/update_password/", {
                method: "PUT",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    password: password,
                    new_password: newPassword
                })
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error("Hubo un problema al actualizar la contraseña.");
                }
                return response.json();
            })
            .then(data => {
                console.log(data);
                alert("Contraseña actualizada correctamente");
                event.target.reset();
            })
            .catch(error => {
                console.error(error);
                alert("Hubo un error al actualizar la contraseña");
            });
        });
    </script>
</body>
</html>
{% endblock %}




