{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block sidebar %}
<aside class="barra-lateral">
    <div class="centrado-vertical">
        <img src="static/img/avatar.png" alt="Profile picture placeholder" class="imagen-redonda mb-2">
        <p class="texto-grande"><span>{{ nombre_usuario }}</span></p>
        <p class="texto-pequeno"><span>{{ cargo_usuario }}</span></p>
        <nav class="nav">
            <ul class="lista-navegacion">
                <li class="elemento-lista"><a href="/dashboard" class="enlace-navegacion">Dashboard</a></li>
                <li class="elemento-lista"><a href="/registro-horarios-usuarios" class="enlace-navegacion">Registro de ingreso</a></li>
                <li class="elemento-lista"><a href="/labores_usuarios" class="enlace-navegacion">Labores</a></li>
                <li class="elemento-lista"><a href="/mensajes" class="enlace-navegacion">Entregas</a></li>
                <li class="elemento-lista"><a href="/cambio_contraseña-usuarios" class="enlace-navegacion">Cambio de contraseña</a></li>
            </ul>
        </nav>
    </div>
</aside>
{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultados de la base de datos</title>
    <link rel="stylesheet" href="/static/css/creartarea.css">
</head>
<body>
<div class="container">
    <h2>Seleccionar labor</h2>
    <form id="cambiarLaborForm">
        <label for="labor">Seleccione una labor:</label>
        <select id="labor_select" name="labor_select">
            <option value="labor1">Labor 1</option>
            <option value="labor2">Labor 2</option>
            <option value="labor3">Labor 3</option>
            <option value="labor4">Labor 4</option>
            <option value="labor5">Labor 5</option>
            <option value="labor6">Labor 6</option>
            <option value="labor7">Labor 7</option>
            <option value="labor8">Labor 8</option>
            <option value="labor9">Labor 9</option>
            <option value="labor10">Labor 10</option>
            <!-- Agrega aquí más opciones según necesites -->
        </select>
        <input type="text" id="titulo" name="titulo" value="{{ usuarios }}" readonly><br>
        <button type="submit" onclick="cambiarLabor()">Cambiar Labor</button>
    </form>
</div>
<div class="container"> 

    <h2>Crear nuevas tareas</h2>
    <form id="crearTareaForm">
        <label for="titulo">Título:</label>
        <input type="text" id="titulo" name="titulo" value="{{ nombre_usuario }}" readonly><br>
        <label for="descripcion">Descripción:</label>
        <input type="text" id="descripcion" name="descripcion"><br>
        <input type="hidden" id="completado" name="completado" value="false"><br> <!-- Usamos type="hidden" para ocultar el checkbox -->
        <button type="submit">Crear tarea</button>
    </form>
</div>
<script>
     // Función para cambiar de labor
     function cambiarLabor() {
        var laborSelect = document.getElementById("labor_select");
        console.log("Elemento seleccionado:", laborSelect); // Agrega esta línea para verificar el elemento seleccionado
        
        if (laborSelect) {
            var selectedLabor = laborSelect.options[laborSelect.selectedIndex].value;
        
            // Guardar el valor seleccionado en el almacenamiento local
            localStorage.setItem("selectedLabor", selectedLabor);

            // Realizar el resto de las operaciones como se hizo antes
            var formData = new FormData(document.getElementById("cambiarLaborForm"));
            fetch('/cambiar_labor2/', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                document.getElementById("mensajeCambiarLabor").innerText = data.mensaje;
                alert('Se cambió el labor actual');
                window.location.reload(); // Recargar la página después de mostrar la alerta
            })
            .catch(error => {
                console.error('Error al enviar la solicitud:', error);
            });
        } else {
            console.error("El elemento labor_select no se encontró en el DOM.");
        }
    }

    // Al cargar la página
    window.onload = function() {
        var storedLabor = localStorage.getItem("selectedLabor");
        if (storedLabor) {
            var laborSelect = document.getElementById("labor_select");
            laborSelect.value = storedLabor;
        }
    };

    document.getElementById("crearTareaForm").addEventListener("submit", function(event) {
        event.preventDefault(); // Evitar el comportamiento por defecto del formulario

        var formData = new FormData(this);
        fetch('/crear_tarea2/', {
            method: 'POST',
            body: formData
        })
        .then(response => response.json())
        .then(data => {
            alert('Se envio la Tarea de forma exitosa');
            window.location.reload()

        })
        .catch(error => {
            console.error('Error al enviar la solicitud:', error);
        });
    });

</script>

</body>
</html>
{% endblock %}